<% @nice_restaurant.errors.full_messages.each do |message| %>
  <p class="text-danger"><%= message %></p>
<% end %>
<%= form_with model: @nice_restaurant do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form_control' %>
  <%= f.label :address %>
  <%= f.text_field :address, class: 'form_control' %>
  <%= f.label :category %>
  <%= f.text_field :category, class: 'form_control' %>
  <%= f.label :rating %>
  <%= f.number_field :rating, class: 'form_control' %>
  <%= f.submit class: "btn btn-primary mt-2" %>
<% end %>
